[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.devnet]
agentbets = "G59nkJ7khC1aKMr6eaRX1SssfeUuP7Ln8BpDj7ELkkcu"

[programs.localnet]
agentbets = "FtNvaXJs5ZUbxPPq91XayvM4MauZyPgxJRrV16fGfn6H"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run mocha -t 1000000 tests/**/*.js"
